.devbox {
	background: yellow;
}


.break-sm {

	@media (min-width: 992px) {
		display: none;
	}
}

.break-md,
.break-lg {
	display: none;
	@media (min-width: 992px) {
		display: block;
	}
}



/*
Notes on style:
.vc_section has horizontal padding and margin
.box-no-spages removes ALL padding and margin
.ovh = overflow hidden

.vc_column_container horizontal paddign 0
.vc_col-* padding left right 20px

.vc_column-inner border box and width 100%

.clean-list reset list
.list-posts NOTHING
*/