@charset "UTF-8";

// Import DailyPost Vendor CSS
@import "vendors/bootstrap";
@import "vendors/icomoon";

/* ------------------------------------------------------------------
 * [Table of contents]
 *
 * 1. Base Styling
 * 2. WordPress Styles
 * 3. Tables
 * 4. Forms
 * 5. Buttons
 *
 * 6. UI Components
 * 		6.1. Header
 * 		6.2. Footer
 * 		6.3. Sections
 * 		6.4. Components
 *
 * ------------------------------------------------------------------ */

@import "base/colors";

// Import DailyPost theme CSS
@import "dailypost/screen";

.devbox {
	background: yellow;
}

.col-centered {
	margin: 0 auto;
	float: none;
}

.blogfeed-section {
	padding: 45px 0 50px;
}
//Heading with separator
h2 {
	.vc_separator & {
		margin: 0;
	}
}

/*
Notes on style:
.vc_section has horizontal padding and margin
.box-no-spages removes ALL padding and margin
.ovh = overflow hidden

.vc_column_container horizontal paddign 0
.vc_col-* padding left right 20px

.vc_column-inner border box and width 100%

.clean-list reset list
.list-posts NOTHING
*/