$dp_blue: #009dff;
$dp_blue_lighter: #32b0ff;
$dp-orange: #dd4b4c;

$blue: #005CA9;
$blue-light: lighten( $blue, 10% );
$green: #6CB33F;
$white: #fff;

$heading-color: #262b2d;

$border-color: #dce0e2;