.site-footer {
	.widgets-area {
		.widget.widget_nav_menu {
			margin-top: 39px;
			box-sizing: border-box;
			ul {
				li {
					display: block;
				    width: auto;
				    margin-bottom: 0.75em;
				}
			}
		}		
	}

}