.site-footer {
	.widgets-area {
		.widget.widget_nav_menu {
			margin-top: 39px;
			box-sizing: border-box;
			ul {
				li {
					display: inline-block;
					vertical-align: top;
				    width: 49%;
				}
			}
		}		
	}

}