header .main-header-wrapper {
    .main-nav {
        border-top: 1px solid #dce0e2;
        margin-top: 10px;
        padding-top: 30px;
    }
    .breaking-news {
        border-bottom: 0;
        padding: 22.5px 0 2.5px 205px;
        min-height: 30px;
    }
    .main-social-block {
        margin: 10px 0 0;
        .social-platforms {
            padding: 10px 0 10px;
        }
    }
    @media (max-width: $screen-sm-max) {
        .main-social-block {
            border-left: 0;
        }
    }
}


.col-centered {
	margin: 0 auto;
	float: none;
}

// [class$="section"]:not([attribute^="value"]) {
[class^="mro"][class$="section"] {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
}


.mro-signup-section {
	padding-top: 25px;
    padding-bottom: 10px;
    background-image: url(../img/horizontal-bar-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mro-events-section {
    @include section-margin;
}

.mro-gallery-section {
	@include section-margin;
}

.mro-blogfeed-section {
	@include section-margin;

    padding-bottom: 50px; //If there is no pagination
}

.author-box {
    max-width: 450px;
    .user-meta {
        min-width: 200px;
        .nr-of-posts {
            max-width: 280px;
        }
    }

}

// .post-categories {
//     padding: 45px 0 0 20px;        
// }