//Heading with separator
h2 {
	.vc_separator & {
		margin: 0;
	}
}

header .main-header-wrapper .main-nav ul li {
  text-transform: none;
  margin: 0 25px 0 0;
  // font-weight: 400;
}

.section-title {
	text-transform: uppercase;
    position:relative;
    overflow:hidden;
    margin-bottom: 90px;

	&:before,&:after {
	    content:" ";
	    position:absolute;
	    top:50%;
	    margin-left:-999em;
	    // height:1px;
	    width:998em;
	    border-top:1px solid $border-color;
	    // background: $border-color;
	}
	&:after {
	    left:auto;
	    width:999em;
	    margin:0 0 0 1em;
	}

	.archive & {
		margin-bottom: 30px;
		span {
			font-weight: 700;
		}
	}
}



.text-center {
	text-align: center;
}